.row div{
    border: 2px solid red;
    min-height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}
.row1 div{
  border: 6px solid orange;
  height:80px;
  background: gold;
}